[sources.sql_database.pagila.credentials]
drivername = "postgresql+psycopg2"
host = "app-db"
port = "5432"
database = "pagila"
username = "postgres"
password = "VerySecureAppDbPassword"

[analytics_dwh__pagila.destination.clickhouse.credentials]
host = "analytics-dwh"
database = "raw_pagila"
username = "admin"
password = "VerySecureDwhPassword"
port = 9000
http_port = 8123
secure = 0
